@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

/* Configuración de DaisyUI */
@plugin "daisyui" {
  themes: light --default;
  logs: false;
}

/* Tema personalizado con color primario de DICTUC */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  color-scheme: light;
  --color-primary: #307fe2;
  --color-primary-content: #ffffff;
}

/* Colores personalizados de Tailwind */
@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --color-azul-dictuc: #307fe2;
    --color-gris-dictuc: #53565A;
    --color-rojo-sostenibilidad: #F3523E;
    --color-amarillo-sostenibilidad: #f2b50a;
    --color-verde-sostenibilidad: #02ac4e;
    --color-azul-sostenibilidad: #0099d9;
    --color-fucsia-sostenibilidad: #f02976;
}

/* Estilos personalizados para el timeline */
.timeline-vertical > li:not(:last-child)::after {
  background-color: #307fe2 !important;
}

.timeline-vertical > li:not(:last-child)::before {
  background-color: #307fe2 !important;
}

/* Scroll suave para navegación interna */
html {
  scroll-behavior: smooth;
}

/* Color de texto por defecto para toda la página */
body {
  color: #53565A;
}

/* Estilos globales para links dentro de listas */
li a:hover {
  color: #307fe2;
  text-decoration: underline;
}

/* Estilos globales para listas */
ul {
  list-style-position: inside;
  list-style-type: disc;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

ol {
  list-style-position: inside;
  list-style-type: decimal;
}

li {
  margin-left: 1rem;
  margin-bottom: 0.375rem;
}

@source inline("text-azul-dictuc");
@source inline("bg-azul-dictuc border-azul-dictuc text-gris-dictuc bg-gris-dictuc border-gris-dictuc from-gris-dictuc to-gris-dictuc from-azul-dictuc to-azul-dictuc");
@source inline("text-rojo-sostenibilidad bg-rojo-sostenibilidad border-rojo-sostenibilidad");
@source inline("text-amarillo-sostenibilidad bg-amarillo-sostenibilidad border-amarillo-sostenibilidad");
@source inline("text-verde-sostenibilidad bg-verde-sostenibilidad border-verde-sostenibilidad");
@source inline("text-azul-sostenibilidad bg-azul-sostenibilidad border-azul-sostenibilidad");
@source inline("text-fucsia-sostenibilidad bg-fucsia-sostenibilidad border-fucsia-sostenibilidad");
@source inline("text-azul-dictuc/50 text-azul-dictuc/75 bg-azul-dictuc/10 bg-azul-dictuc/20 bg-azul-dictuc/50 bg-azul-dictuc/75");
@source inline("text-gris-dictuc/50 text-gris-dictuc/75 bg-gris-dictuc/10 bg-gris-dictuc/20 bg-gris-dictuc/50 bg-gris-dictuc/75");
@source inline("text-rojo-sostenibilidad/50 text-rojo-sostenibilidad/75 bg-rojo-sostenibilidad/10 bg-rojo-sostenibilidad/20 bg-rojo-sostenibilidad/50 bg-rojo-sostenibilidad/75");
@source inline("text-amarillo-sostenibilidad/50 text-amarillo-sostenibilidad/75 bg-amarillo-sostenibilidad/10 bg-amarillo-sostenibilidad/20 bg-amarillo-sostenibilidad/50 bg-amarillo-sostenibilidad/75");
@source inline("text-verde-sostenibilidad/50 text-verde-sostenibilidad/75 bg-verde-sostenibilidad/10 bg-verde-sostenibilidad/20 bg-verde-sostenibilidad/50 bg-verde-sostenibilidad/75");
@source inline("text-azul-sostenibilidad/50 text-azul-sostenibilidad/75 bg-azul-sostenibilidad/10 bg-azul-sostenibilidad/20 bg-azul-sostenibilidad/50 bg-azul-sostenibilidad/75");
@source inline("text-fucsia-sostenibilidad/50 text-fucsia-sostenibilidad/75 bg-fucsia-sostenibilidad");
@source inline("table table-sm table-xs table-zebra justify-content-center");
@source inline("basis-full sm:basis-1/2 lg:basis-full lg:basis-1/2 lg:basis-1/3 lg:basis-1/4 lg:basis-[20%] lg:basis-1/6");
@source inline("after:block after:h-[2px] after:w-0 after:bg-azul-dictuc after:rounded-full after:transition-all after:duration-300 hover:after:w-[20px]");

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}